@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --container-*: initial;

    --breakpoint-sm: 25rem; /* 400px */
    --breakpoint-md: 58rem; /* 768px */
    --breakpoint-lg: 75rem; /* 1200px */
    --breakpoint-xl: 105rem; /* 1680px */

    --container-sm: 22.5rem;
    --container-md: 45rem;
    --container-lg: 71.25rem;
    --container-xl: 102.5rem;

    --font-sans: "Rubik Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: "Cormorant Garamond Variable", serif;
}

@utility container {
    @apply w-full sm:w-[22.5rem] md:w-[45rem] lg:w-[71.25rem] xl:w-[102.5rem]; /* 100% 360px 720px 1140px 1640px */
    @apply mx-auto;
}

#testimonials-slider .swiper-pagination-bullet {
    @apply h-5 w-5 bg-white border-2 border-gray-600 transition opacity-100;
}

#testimonials-slider .swiper-pagination-bullet-active {
    @apply bg-black inset-shadow-[0_0_0_2px_white];
}
